
body{
	max-width:1366px;
	min-width:320px;
	width:100%;
	margin:0 auto;
}


h4{
	color:#fff;
	font-family:Arial;
	font-weight: bold;
	margin-bottom: 5px;
}

h5{
	color:#fff;
	font-family:Arial;
	font-weight: bold;
	margin:0;
}

a{
	color:#fff;
}

a:hover{
	color:#fff;
}

.col-sm-8 a{
	color:#000;
}


.menu_contain{
	display: table; 
	table-layout: fixed ;
	position:fixed;
	z-index: 9999;
}

.menu_wrapper{
	display: table-cell; 
	width: 1366px;
}

 .menu_wrapper .menu_back{
	max-width:100%;
	min-width:320px;
	opacity: 0.5;
	position: fixed;
	height:60px;
} 


.menu{
	width: 100%;
	height:60px;
	background:rgba(0, 0, 0, 0.5);
	z-index: 9999;
	margin:0 auto;
}

.nav-justified{
	width:100%;
	height:60px;
	font-family:Arial;
	font-weight:bold;
	z-index: 9999;
	overflow: hidden;
}

.nav-justified li{
	height:60px;
}

.nav-justified li a{
	padding:20px 15px;
	color:#fff;
}

.nav-justified li a:hover{
	background-color: #fff;
	color:#000;
}



.section_01{
	max-width:100%;
	background: url(images/big_pic.jpg) center center fixed no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	background-attachment: fixed; /* 滾輪往下移，圖不動*/
	overflow:auto;
	height:650px;
}


.section_01 .row{
	width:90%;
	margin:0 auto;
}

.section_01 .row .col-sm-4{
	padding-top: 10%;
}

.section_01 .row .col-sm-8{
	padding-top: 25%;
}

.sec01_wrap{
	width:100%;
}

.sec01_left{
	width:35%;
	float:left;
	padding-top:15%;
	padding-left:10%;
}

.logo{
	width:100%;
	overflow: visible;
}

.logo img{
	max-width:65%;
	min-width:60%;
}

.sec01_right{
	width:65%;
	float:right;
	padding-top:25%;
	padding-right:10%;
}

.word{
	width:100%;
	padding:15px;
	color:#fff;
	font-size:14pt;
	line-height:28px;
	font-family:Arial;
	background:rgba(0, 0, 0, 0.7);
	z-index: 100;
}

.ham_wrapper{
	display:none;
}

.ham{
	display: none;
	float:left;
	position: fixed;
}


.section_04{
	max-width:100%;
	overflow: auto;
}

.sec04_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
}

.sec04_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #000;
	margin:20px auto;
}

.news{
	width:100%;
}


.news .row{
	width:80%;
	margin:70px auto;
	margin-bottom: 110px;
}


.news_content{
	max-width:100%;
	height:180px;
	margin:70px 100px;
	margin-bottom: 110px;
}


.news_img{
	width:30%;
	display:inline;
	float:left;
}


.news_img img{
	width:80%;
	display:inline;
}

.news_word{
	width:70%;
	font-weight: 600;
	line-height:25px;
	font-family: Arial;
	float:left;

}

.news_word a{
	color:#000;
}


.news_word a:hover{
	color:#e46404;
}

.news_title{
	font-size: 20pt;
	font-weight: bolder;
	line-height:30px;
}

.news_word  p{
	font-size: 16px;
	margin-top:20px;
}



.section_03{
	max-width:100%;
	background:url(images/section03.jpg);
	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	background-attachment: fixed;
	overflow: auto;
}


.animal{
	max-width:100%;
	position:relative;
}


.sec03_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
	color:#fff;
}

.sec03_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #FFF;
	margin:20px auto;
}

.row{
	width:100%;
	margin:0;
	margin-bottom:60px;
}

.col-sm-4{
	text-align: center;
}

.col-sm-4 img{
	width:60%;
}

.col-sm-6{
	text-align: center;
}

.col-sm-6 img{
	width:40%;
}


.section_02{
	max-width:100%;
}

.sec02_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
}

.sec02_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:100px;
	background-color: #000;
	margin:20px auto;
}

.work{
	max-width:100%;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.work ul{
	width:100%;
	text-align: center;
	margin:0;
}

.work ul li{
	width:30%;
	display: inline-block;
	margin:0;
	vertical-align:top;
}

.work a{
	color:#000;
}

.work_title{
	font-weight: bolder;
	font-family: Arial;
	font-size:20px;
	margin-top:20px;
}

.work img{
	width: 70%;
}

.work p{
	width: 70%;
	margin:0 auto;
	padding-top:20px;
	padding-left: 15px;
	font-family: Arial;
	font-weight: bold;
	font-size:16px;
	line-height: 22px;
	text-align: left;
}

.work a:hover{
	text-decoration: underline;
}

.section_05{
	max-width:100%;
	background:url(images/banner.jpg)no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	background-position: 0% 37%;
	height:300px;
}


.donation{
	width:100%;
	position:relative;
	overflow: auto;
}

.donate_word{
	width:100%;
	margin-top:100px;
	margin-bottom:55px;
	color:#fff;
	font-family: Arial;
	font-weight: bold;
	font-size:38px;
	text-align: center;
}

.donate_button{
	width:120px;
	margin:0 auto;
	color:#fff;
	text-align: center;
	overflow:auto;
	background-color: #e46404;
	font-family: Arial;
	font-weight: bold;
	font-size:20px;
	padding:15px 10px;
	cursor:pointer;
}


.donate_button:hover{
	background-color:#e17c31;
}


.section_06{
	width:100%;
}

.sec06_title{
	width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
}

.sec06_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #000;
	margin:20px auto;
}

.join{
	width:100%;
	text-align: center;
}

.join_img_word{
	display:block;
	text-align: center;
	font-family: Arial;
	font-weight:bolder;
	font-size:18px;
	margin:20px 0;
	padding-bottom: 40px;
}

.join_word{
	width:70%;
	margin:0 auto;
	padding-bottom: 80px;
	text-align: center;
	font-family: Arial;
	font-weight:bolder;
	font-size:22px;
}

.join img{
	width:80%;
}

.join_01{
	width:30%;
	display: inline-block;
	text-align: center;
}

.join_02{
	width:30%;
	display: inline-block;
	text-align: center;
}

.join_03{
	width:30%;
	display: inline-block;
	text-align: center;
}

.footer{
	width:100%;
	min-height:300px;
	background-color: #343536;
	position: relative;
}

.footer_wrap{
	width:100%;
	overflow: visible;
	padding-top:15px;
}

.footer_mail{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:5px;
}

.footer_phone{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:5px;
	
}

.footer_mail a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.footer_phone a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.footer_word{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:40px;
}


.icon{
	width:100%;
	display:block;
	text-align:center;
	margin-top:40px;
}

.icon li{
	display:inline;
	margin:0 20px;
}

.footer_lastword{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:15px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:50px;
	line-height:25px;
	overflow: visible;
}


@media(max-width:1250px){

	.nav{
		font-size:14px;
	}
}

@media(max-width:1095px){

	.nav{
		font-size:13px;
	}

	.sec01_right .word{
		font-size:12pt;
	}
}

@media(max-width:1015px){

	.sec01_left{
		width:40%;
		padding-top:25%;
		padding-left:10%;
	}

	.sec01_right{
		width:60%;
		padding-top:35%;
		padding-right:5%;
	}

	.word{
		width:100%;
		font-size:11pt;
	}

	.news_content{
		max-width:100%;
		height:180px;
		margin:70px 40px;
		margin-bottom:160px;
	}

	.news_word{
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
	}

	.news_word a{
		color:#000;
	}

	.donate_word{

		font-size:32px;
	}
}





@media(max-width:795px){

	.work ul li{
		width:30%;
		display: inline-block;
		margin:0;
		vertical-align:top;
	}

}



@media(max-width:767px){

	.section_01{
		width:100%;
		background: url(images/big_pic.jpg) center center fixed no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
		background-attachment: fixed; /* 滾輪往下移，圖不動*/
		overflow:auto;
		height:550px;
	}


	.menu{
		width:100%;
	}

	.menu_contain{
		display: table; 
		table-layout: fixed ;
		position:absolute;
		z-index: 100;
	}

	.nav-justified{
		width:100%;
		height:auto;
		max-height:0px;
	/* overflow:hidden; 先把他尋覽列藏起來*/
		overflow:hidden;
		transition: max-height 1.5s;
		position:absolute;
	    margin:0;
	 /*header 80px+1px boder 線條*/
	    top:60px;
	    z-index: 9999;
	    background:rgba(0, 0, 0, 1);
	}

	.nav-justified li{
		border-bottom: 1px dotted #fff;
	}

	.nav-justified li a{
		margin:0;
	}

	.ham_wrapper{
		height:60px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.ham{
		width:100%;
		height:60px;
		display: block;
		float:left;
		z-index: 9999;
		top:15px;
		left:6%;
	}

	.ham img{
		width:30px;
	}


	.sec01_left{
		width:100%;
		clear:left;
		margin:0 auto;
		padding:0;
		padding-top:15%;
		padding-bottom: 40px;
		text-align: center;
	}

	.sec01_right{
		width:60%;
		clear:right;
		padding:0;
		margin:0 20%;
	}

	.logo{
		width:40%;
		margin:0 auto;
	}

	.word{
		width:100%;
		padding:15px;
		color:#fff;
		font-size:10pt;
		line-height:20px;
		font-family:Arial;
		background:rgba(0, 0, 0, 0.7);
		z-index: 100;
	}

	.sec02_title{
		max-width:100%;
		margin:60px 0 70px 0px;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#000;
	}

	.sec02_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:100px;
		background-color: #000;
		margin:20px auto;
	}

	.work ul{
		width:100%;
		margin:0 auto;
	}

	.work ul li{
		width:30%;
		display: inline-block;
		margin:0;
		vertical-align:top;
	}

	.work_title{
		width:60%;
		font-weight: bolder;
		font-family: Arial;
		font-size:25px;
		margin:0 auto;
		margin-top:20px;
		padding-left:0;
	}

	.work img{
		width: 60%;
	}

	.work p{
		margin:0 auto;
		padding-top:20px;
		padding-left:0;
		width: 60%;
		font-family: Arial;
		font-weight: bold;
		font-size:18px;
		line-height: 22px;
		cursor: pointer;
		margin:0 auto;
	}


	.sec03_title{
		margin:60px 0 70px 0;
	}

	.sec04_title{
		margin:60px 0 70px 0;
	}

	.row{
		margin:0;
	}

	.col-sm-4{
		margin-bottom: 100px;
	}


	.col-sm-6{
		margin-bottom: 100px;
	}

	.col-sm-6 img{
		width:60%;
	}

	
	.section_05{
			background:url(images/banner.jpg)center center no-repeat;
			background-position: 30% 35%;
	}

	.news{
		width:100%;
		margin-bottom:10px;
		overflow: auto;
	}

	.news .row{
		margin: 0 auto;
		margin-bottom: 60px;
	}

	.news_content{
		width:70%;
		height:auto;
		margin:0 auto;
		margin-bottom:20px;
		overflow: auto;
	}


	.news_img{
		width:100%;
		display:block;
		margin:0 auto;
		padding:0;
		text-align: center;
	}

	.news_img img{
		width:100%;
	}

	.news_word{
		display:inline;
		width:100%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
		clear:left;
		margin-top:40px;
		margin-bottom: 50px;
		text-align: center;
	}

	.news_word p{
		width:100%;
		margin-top:30px;
		text-align: center;
	}

	.news_word a{
		color:#000;
	}


	.news_word a:hover{
		color:#e46404;
	}

	.news_title{
		width:80%;
		margin:0 auto;
		text-align: center;
	}


	.donate_word{
		width:100%;
		padding:0 10%;
		margin-top:8%;
		margin-bottom: 5%;
	}


.sec06_title{
		width:100%;
		margin-bottom: 70px;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.join_word{
		width:70%;
		margin:0 auto;
		padding-bottom: 60px;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		line-height: 25px;
		color:#525252;
	}

	.join img{
		width:70%;
	}

	.join_img_word{
		display:block;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		margin:20px 0;
		padding-bottom: 40px;
	}

	.join_01{
		width:100%;
		height:auto;
		display: block;
		text-align: center;
	}

	.join_02{
		width:100%;
		display: block;
		text-align: center;
	}

	.join_03{
		width:100%;
		display: block;
		text-align: center;
	}

}


@media(max-width:585px){


	.work ul{
		width:100%;
		text-align: center;
		margin:0;
	}

	.work ul li{
		width:60%;
		display: inline-block;
		margin:0 10%;
		padding-bottom: 50px;
	}


	.news_content{
		max-width:100%;
		height:auto;
		margin:70px 20px;
		margin-bottom:80px;
		overflow: auto;
	}

}


@media(max-width:570px){



	.section_01{
		width:100%;
		height:100%;
		background: url(images/big_pic.jpg)no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: inherit;
		overflow:hidden;
	}


	.nav-justified{
		position: absolute;
		top:60px;
	}

	.logo{
		width:100%;		
		margin:0 auto;
		text-align: center;
		overflow: visible;
	}

	.logo img{
		max-width:30%;
		min-width:25%;
	}


	.word{
		width:100%;
		height:auto;
		background:rgba(0, 0, 0, 0.7);
		color:#fff;
		font-size:11pt;
		line-height:20px;
		font-weight:bold;
		font-family:Arial;
		position:relative;
		top:0px;
		left:0px;
		right:0px;
		padding:10px 10px 10px 10px;
		z-index: 0;
	}


	.work li{
		width:60%;
	}


	

	.sec06_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.footer{
		width:100%;
		min-height:350px;
		background-color: #343536;
		position: relative;
		overflow: auto;
	}

	.footer_wrap{
		bottom: 0;
	}

	.footer_word{
		width:70%;
		color:#fff;
		text-align: center;
		font-size:18px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 auto;
		margin-top:20px;
	}


	.footer_lastword{
		width:70%;
		color:#fff;
		text-align: center;
		font-size:15px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 auto;
		margin-top:65px;
		line-height:25px;

	}


}


@media(max-width:380px){



	.section_01{
		width:100%;
		height:100%;
		background: url(images/big_pic.jpg)no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: inherit;
		overflow:hidden;
	}

	.sec01_left{
		width:100%;
		position:static;
		margin:0 auto;
		padding-top:20%;
		padding-bottom:40px;
		text-align: center;
	}

	.logo{
		margin:0 auto;
		width:60%;
		text-align: center;
		overflow: auto;
	}

	.logo img{
		max-width:60%;
	}

	.sec01_right{
		width:70%;
		margin:0 15%;
		z-index: 100;
		position: static;
	}

	.word{
		width:100%;
		height:auto;
		background:rgba(0, 0, 0, 0.7);
		color:#fff;
		font-size:11pt;
		line-height:20px;
		font-weight:bold;
		font-family:Arial;
		position:relative;
		top:0px;
		left:0px;
		right:0px;
		padding:10px 10px 10px 10px;
		z-index: 0;
	}


	.menu{
		height:40px;
	}

	.nav-justified{
		top:40px;
	}



	.section_02{
		max-width:100%;
		padding-bottom: 0px;
	}

	.sec02_title{
		max-width:100%;
		margin:60px 0 70px 0px;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#000;
	}



	.sec02_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:100px;
		background-color: #000;
		margin:20px auto;
	}

	.work ul{
		width:100%;
		text-align: center;
		margin:0;
	}

	.work li{
		width:60%;
		display: inline-block;
		margin:0 20%;
		padding-bottom: 50px;
	}



	.section_03{
		max-width:100%;
		background:url(images/section03.jpg)no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*background-color: #ffe3b7;*/
	}

	.sec03_title{
		max-width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#fff;
	}

	.animal_01{
		max-width:100%;
		margin:0px 0 0px 0;
		text-align: center;
		overflow: auto;
	}

	.animal_01 li{
		display: block;
		margin:0px 25% 60px 25%;
		max-width:50%;
		text-align: center;
		overflow: auto;
	}

	.animal_01 p{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:10px;
		font-size:17pt;
	}

	.animal_01 p.qu{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:3px;
		margin-bottom: 20px;
		font-size:15pt;
		overflow:hidden;
	}

	.animal_02{
		max-width:100%;
		margin:0px 0 0px 0;
		text-align: center;
		overflow: auto;
		font-size:17pt;
	}

	.animal_02 li{
		display: block;
		margin:0px 25% 60px 25%;
		max-width:50%;
		text-align: center;
		overflow: auto;
		font-size:15pt;
	}

	.animal_02 p{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:10px;
		font-size:17pt;
	}

	.animal_02 p.qu{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:3px;
		margin-bottom: 0px;
		font-size:15pt;
		overflow:hidden;
	}


	.section_04{
		max-width:100%;
		overflow: auto;
	}
			
		

	.sec04_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.sec04_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:140px;
		background-color: #000;
		margin:20px auto;
	}

	.news{
		width:100%;
		margin-bottom:10px;
		overflow: auto;
	}

	.news .row{
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.news_content{
		width:80%;
		height:auto;
		margin-bottom:20px;
		overflow: auto;
	}

	.news_img{
		width:100%;
		display:block;
		margin:0;
		padding:0 5%;
		text-align: center;
	}

	.news_img img{
		width:100%;
	}

	.news_word{
		display:inline;
		width:100%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
		float:left;
		margin-top:40px;
		margin-bottom: 50px;
		text-align: center;
	}

	.news_word p{
		width:100%;
		margin-top:20px;
		padding:0 5%;
		text-align: center;
	}

	.news_word a{
		color:#000;
	}


	.news_word a:hover{
		color:#e46404;
	}

	.news_title{
		width:80%;
		margin:0 auto;
		text-align: center;
	}

	.section_05{
		background:url(images/banner.jpg)no-repeat;
		background-position: 40% 40%;
	}


	.donate_word{
		width:100%;
		font-size:26px;
		margin-top:70px;
		margin-bottom: 40px;
		padding:0 5%;
	}

	.sec06_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.join_word{
		width:70%;
		margin:0 auto;
		padding-bottom: 60px;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		line-height: 25px;
		color:#525252;
	}

	.join img{
		width:70%;
	}

	.join_img_word{
		display:block;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		margin:20px 0;
		padding-bottom: 40px;
	}

	.join_01{
		width:100%;
		height:auto;
		display: block;
		text-align: center;
	}

	.join_02{
		width:100%;
		display: block;
		text-align: center;
	}

	.join_03{
		width:100%;
		display: block;
		text-align: center;
	}


	.footer_mail{
		width:100%;
		color:#fff;
		text-align: center;
		font-size:16px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:5px;
		cursor: pointer;
	}

	.footer_phone{
		width:100%;
		color:#fff;
		text-align: center;
		font-size:16px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:5px;
		cursor: pointer;
	}

	.footer_word{
		width:88%;
		color:#fff;
		text-align: center;
		font-size:14px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 6%;
		margin-top:40px;
		padding:0;
	}

	.footer_lastword{
		width:88%;
		color:#fff;
		text-align: center;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 6%;
		margin-top:70px;
		padding:0;
		line-height:20px;
		font-size:14px;
	}
}


	/*jQ點擊後動態在 body 加上 class */
	.menu-show .nav-justified{
		 max-height: 500px;
	}