

.nav{
	width:100%;
	height:60px;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-family:Arial;
	font-weight:bold;
	position: fixed;
	z-index: 9999;
}
		
.menu{
	width:100%;
	overflow: auto;
}

.nav_word{
	width:20%;
	height:100%;
	text-align: center;
	display:inline-block;
	cursor: pointer;
	float:left;
}


.nav_word:hover{
	background-color:black;	
}

.nav_word a{
	display:inline-block;
	padding-top:12%;
}

.section_01{
	max-width:100%;
	background: url(images/big_pic.jpg) center center fixed no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	background-attachment: fixed; /* 滾輪往下移，圖不動*/
	overflow:auto;
	height:650px;
}


.sec01_left{
	width:30%;
	position: absolute;
	top:25%;
	left:10%;
}

.logo{
	width:50%;
	overflow: auto;
}

.logo img{
	max-width:100%;
	min-width:80%;
}

.sec01_right{
	width:55%;
	position:absolute;
	top:50%;
	left:30%;
}

.word{
	width:100%;
	height:auto;
	padding:15px;
	color:#fff;
	font-size:14pt;
	line-height:28px;
	font-family:Arial;
	background:rgba(0, 0, 0, 0.7);
	z-index: 100;
}

.ham{
	display: none;
}

.section_04{
	max-width:100%;
	overflow: auto;
}

.sec04_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
}

.sec04_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #000;
	margin:20px auto;
}

.news{
	width:100%;
}

.news_content{
	max-width:100%;
	height:180px;
	margin:70px 100px;
	margin-bottom:120px;
}

.news_img{
	width:30%;
	display:inline;
	float:left;
}


.news_img img{
	width:80%;
	display:inline;
}

.news_word{
	width:70%;
	font-weight: 600;
	line-height:25px;
	font-family: Arial;
	float:left;
}

.news_word a{
	color:#000;
}


.news_word a:hover{
	color:#e46404;
}

.news_title{
	font-size: 20pt;
	font-weight: bolder;
	line-height:30px;
}

.news_word  p{
	margin-top:20px;
}



.section_03{
	max-width:100%;
	background:url(images/section03.jpg);
	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	background-attachment: fixed;
	overflow: auto;
}


.animal{
	max-width:100%;
	padding-bottom: 50px;
	position:relative;
}


.sec03_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
	color:#fff;
}

.sec03_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #FFF;
	margin:20px auto;
}


.animal_01{
	max-width:100%;
	margin:0px 0 10px 0;
	text-align: center;
	overflow: hidden;
	color:#fff;
}

.animal_01 li{
	display: inline-block;
	margin:0 5%;
	max-width:33%;
	overflow: hidden;
}

.animal img{
	width:80%;
}

.animal_01 p{
	font-weight: bolder;
	font-family:Arial;
	margin-top:10px;
	font-size:13pt;
}

.animal_01 p.qu{
	font-weight: bolder;
	font-family:Arial;
	margin-top:3px;
	font-size:12pt;
	overflow: hidden;
}

.animal_02{
	max-width:100%;
	margin:30px 0 0 0;
	text-align: center;
	overflow: hidden;
	color:#fff;
}

.animal_02 li{
	display: inline-block;
	margin:0 5%;
	max-width:33%;
	overflow: hidden;
}

.animal_02 p{
	font-weight: bolder;
	font-family:Arial;
	margin-top:10px;
	font-size:13pt;
}

.animal_02 p.qu{
	font-weight: bolder;
	font-family:Arial;
	margin-top:3px;
	font-size:12pt;
}

.section_02{
	max-width:100%;
	padding-bottom: 100px;
}

.sec02_title{
	max-width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
	color:#000;
}

.sec02_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:100px;
	background-color: #000;
	margin:20px auto;
}

.work{
	max-width:100%;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.work ul{
	width:100%;
	text-align: center;
	margin:0;
}

.work ul li{
	width:30%;
	display: inline-block;
	margin:0;
	vertical-align:top;
}

.work a{
	color:#000;
}

.work_title{
	font-weight: bolder;
	font-family: Arial;
	font-size:20px;
	margin-top:20px;
}

.work img{
	width: 70%;
}

.work p{
	width: 70%;
	margin:0 auto;
	padding-top:20px;
	padding-left: 15px;
	font-family: Arial;
	font-weight: bold;
	font-size:16px;
	line-height: 22px;
	text-align: left;
}

.work a:hover{
	text-decoration: underline;
}

.section_05{
	width:100%;
	height:300px;
	background:url(images/donate.jpg)no-repeat;
	background-position: 0% 37%;
}

.donation{
	width:100%;
	position:relative;
	overflow: auto;
}

.donate_word{
	width:100%;
	margin-top:100px;
	margin-bottom:55px;
	color:#fff;
	font-family: Arial;
	font-weight: bold;
	font-size:38px;
	text-align: center;
}

.donate_button{
	width:120px;
	margin:0 auto;
	color:#fff;
	text-align: center;
	overflow:auto;
	background-color: #e46404;
	font-family: Arial;
	font-weight: bold;
	font-size:20px;
	padding:15px 10px;
	cursor:pointer;
}


.donate_button:hover{
	background-color:#e17c31;
}


.section_06{
	width:100%;
}

.sec06_title{
	width:100%;
	margin:60px 0 110px 0px;
	font-family: Arial;
	font-weight: bolder;
	font-size: 26pt;
	text-align: center;
}

.sec06_title:after{
	content:'';
	display:block;
	height:1px;
	max-width:140px;
	background-color: #000;
	margin:20px auto;
}

.join{
	width:100%;
	text-align: center;
}

.join_img_word{
	display:block;
	text-align: center;
	font-family: Arial;
	font-weight:bolder;
	font-size:18px;
	margin:20px 0;
	padding-bottom: 40px;
}

.join_word{
	width:70%;
	margin:0 auto;
	padding-bottom: 80px;
	text-align: center;
	font-family: Arial;
	font-weight:bolder;
	font-size:22px;
}

.join img{
	width:80%;
}

.join_01{
	width:30%;
	display: inline-block;
	text-align: center;
}

.join_02{
	width:30%;
	display: inline-block;
	text-align: center;
}

.join_03{
	width:30%;
	display: inline-block;
	text-align: center;
}

.footer{
	width:100%;
	min-height:300px;
	background-color: #343536;
	position: relative;
}

.footer_wrap{
	width:100%;
	position:absolute;
	top:40px;
}

.footer_mail{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:5px;
}

.footer_phone{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:5px;
	
}

.footer_mail a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.footer_phone a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.footer_word{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:18px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:30px;
}


.icon{
	width:100%;
	display:block;
	text-align:center;
	margin-top:40px;
}

.icon li{
	display:inline;
	margin:0 20px;
}

.footer_lastword{
	width:100%;
	color:#fff;
	text-align: center;
	font-size:15px;
	font-family:ff-tisa-web-pro,georgia,serif;
	font-weight: 400;
	margin-top:70px;
	line-height:25px;
}


@media(max-width:1250px){

	.nav{
		font-size:14px;
	}
}

@media(max-width:1095px){

	.nav{
		font-size:13px;
	}

	.sec01_right .word{
		font-size:12pt;
	}
}

@media(max-width:1015px){


	.sec01_left{
		width:35%;
	}

	.sec01_right{
		width:55%;
		position:absolute;
		top:50%;
		left:35%;
	}

	.word{
		font-size:11pt;
	}

	.news_content{
		max-width:100%;
		height:180px;
		margin:70px 40px;
		margin-bottom:160px;
	}

	.news_word{
		width:70%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
	}

	.news_word a{
		color:#000;
	}
}





@media(max-width:795px){

	.work ul li{
		width:30%;
		display: inline-block;
		margin:0;
		vertical-align:top;
	}

}



@media(max-width:768px){

	.section_01{
		width:100%;
		background: url(images/big_pic.jpg) center center fixed no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
		background-attachment: fixed; /* 滾輪往下移，圖不動*/
		overflow:auto;
		height:550px;
	}

	.nav{
		width:100%;
		height:40px;
		background:rgba(0, 0, 0, 0.5);
		color:#fff;
		font-family:Arial;
		font-weight:bold;
		right:0;
	}

	.sec01_left{
		width:30%;
	}

	.logo{
		width:70%;
		overflow: auto;
	}

	.sec01_right{
		width:60%;
	}

	.word{
		width:90%;
		padding:15px;
		color:#fff;
		font-size:10pt;
		line-height:20px;
		font-family:Arial;
		background:rgba(0, 0, 0, 0.7);
		z-index: 100;
	}

	.sec02_title{
		max-width:100%;
		margin:60px 0 70px 0px;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#000;
	}

	.sec02_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:100px;
		background-color: #000;
		margin:20px auto;
	}

	.work ul{
		width:100%;
		margin:0 auto;
	}

	.work ul li{
		width:30%;
		display: inline-block;
		margin:0;
		vertical-align:top;
	}

	.work_title{
		width:70%;
		font-weight: bolder;
		font-family: Arial;
		font-size:20px;
		margin:0 auto;
		margin-top:20px;
		padding-left:0;
	}

	.work img{
		width: 80%;
	}

	.work p{
		margin:0 auto;
		padding-top:20px;
		padding-left:0;
		width: 80%;
		font-family: Arial;
		font-weight: bold;
		font-size:16px;
		line-height: 22px;
		cursor: pointer;
		margin:0 auto;
	}


	.sec03_title{
		margin:60px 0 70px 0;
	}

	.sec04_title{
		margin:60px 0 70px 0;
	}

	.news_img{
		width:30%;
		display:inline;
		float:left;
		padding-right:5%;
	}

	.news_img img{
		width:100%;
		display:inline;
	}

	.news_content{
		max-width:100%;
		height:auto;
		margin:70px 40px;
		margin-bottom:80px;
		overflow: auto;
	}


	.news_word{
		width:60%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
		float:left;
	}

	.news_word p{
		margin-top:20px;
	}

	.section_05{
			background:url(images/donate.jpg)center center no-repeat;
			background-position: 30% 35%;
	}


	.donate_word{
		width:80%;
		padding:0 10%;
		margin-top:10%;
		margin-bottom:5%;
	}


	.sec06_title{
		margin:60px 0 70px 0;
	}

	.join{
		width:100%;
		text-align: center;
	}

	.join_01{
		width:30%;
		display: inline-block;
		text-align: center;
	}

	.join_02{
		width:30%;
		display: inline-block;
		text-align: center;
	}

	.join_03{
		width:30%;
		display: inline-block;
		text-align: center;
	}

	.join_img_word{
		display:block;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:16px;
		margin:20px 0;
		padding-bottom: 40px;
	}

}


@media(max-width:585px){


	.work ul{
		width:100%;
		text-align: center;
		margin:0;
	}

	.work ul li{
		width:60%;
		display: inline-block;
		margin:0 10%;
		padding-bottom: 50px;
	}

	.work img{
		width:100%;
	}

	.work p{
		margin:0;
		padding-top:20px;
		padding-left: 0px;
		width: 100%;
		font-family: Arial;
		font-weight: bolder;
		font-size:18px;
		line-height: 22px;
		cursor: pointer;
		text-align: left;
	}

	.news_content{
		max-width:100%;
		height:auto;
		margin:70px 20px;
		margin-bottom:80px;
		overflow: auto;
	}

}


@media(max-width:570px){

	.menufixed{
		display:none;
	}

	.section_01{
		width:100%;
		height:100%;
		background: url(images/big_pic.jpg)no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: inherit;
		overflow:hidden;
	}

	.sec01_left{
		width:100%;
		position:static;
		margin:0 auto;
		padding-top:15%;
		padding-bottom: 40px;
		text-align: center;
	}

	.logo{
		width:100%;		
		margin:0 auto;
		text-align: center;
		overflow: auto;
	}

	.logo img{
		max-width:25%;
		min-width:20%;
	}

	.sec01_right{
		width:70%;
		margin:0 auto;
		z-index: 100;
		position: static;
	}

	.word{
		width:100%;
		height:auto;
		background:rgba(0, 0, 0, 0.7);
		color:#fff;
		font-size:11pt;
		line-height:20px;
		font-weight:bold;
		font-family:Arial;
		position:relative;
		top:0px;
		left:0px;
		right:0px;
		padding:10px 10px 10px 10px;
		z-index: 0;
	}


	.nav{
		width:100%;
		height:10%;
		background:rgba(0, 0, 0, 0.5);
		color:#fff;
		font-size:15 pt;
		font-family:Arial;
		font-weight:bold;
		vertical-align: center;
	}

		

	.ham{
		display: block;
		font-color:white;
		float:left;
		margin:2% 0 0 7%;
	}

	.ham img{
		width:10%;
	}


	.menu{
		max-width:100%;
		max-height:0px;
	/* overflow:hidden; 先把他尋覽列藏起來*/
		overflow:hidden;
		transition: max-height 2.0s;
		position:relative;
	    margin:0;
	 /*header 80px+1px boder 線條*/
	    top:0px;
	    z-index: 9999;
	}

	.nav_word{
		width:100%;
		height:auto;
		display: block;
		background-color: #000;
		z-index:9999;
		border-bottom: 1px dotted #fff;
		color:#fff;
	}


	.nav_word a{
		display:inline-block;
		padding:0;
		margin:5% auto;
	}


	.work li{
		width:60%;
	}


	.news{
		width:100%;
		overflow: auto;
	}


	.news_content{
		width:70%;
		height:auto;
		margin:0 auto;
		margin-bottom:20px;
		overflow: auto;
	}


	.news_img{
		width:100%;
		display:block;
		margin:0 auto;
		padding:0;
		text-align: center;
	}

	.news_img img{
		width:100%;
	}

	.news_word{
		display:inline;
		width:100%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
		clear:left;
		margin-top:40px;
		margin-bottom: 50px;
		text-align: center;
	}

	.news_word p{
		width:100%;
		margin-top:30px;
		text-align: center;
	}

	.news_word a{
		color:#000;
	}


	.news_word a:hover{
		color:#e46404;
	}

	.news_title{
		width:80%;
		margin:0 auto;
		text-align: center;
	}

	.sec06_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.join_word{
		width:70%;
		margin:0 auto;
		padding-bottom: 60px;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		line-height: 25px;
		color:#525252;
	}

	.join img{
		width:70%;
	}

	.join_img_word{
		display:block;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		margin:20px 0;
		padding-bottom: 40px;
	}

	.join_01{
		width:100%;
		height:auto;
		display: block;
		text-align: center;
	}

	.join_02{
		width:100%;
		display: block;
		text-align: center;
	}

	.join_03{
		width:100%;
		display: block;
		text-align: center;
	}

	.footer{
		width:100%;
		min-height:350px;
		background-color: #343536;
		position: relative;
		overflow: auto;
	}

	.footer_word{
		width:80%;
		color:#fff;
		text-align: center;
		font-size:18px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:30px;
		padding:0 10%;
	}


	.footer_lastword{
		width:80%;
		color:#fff;
		text-align: center;
		font-size:15px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:80px;
		line-height:25px;
		padding:0 10%;
	}


}


@media(max-width:380px){

	.menufixed{
		display:none;
	}

	.section_01{
		width:100%;
		height:100%;
		background: url(images/big_pic.jpg)no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: inherit;
		overflow:hidden;
	}

	.sec01_left{
		width:35%;
		position:static;
		margin:0 auto;
		padding-top:20%;
		padding-bottom:40px;
		text-align: center;
	}

	.logo{
		margin:0 auto;
		width:100%;
		text-align: center;
		overflow: auto;
	}

	.logo img{
		max-width:100%;
	}

	.sec01_right{
		width:65%;
		margin:0 auto;
		z-index: 100;
		position: static;
	}

	.word{
		width:100%;
		height:auto;
		background:rgba(0, 0, 0, 0.7);
		color:#fff;
		font-size:11pt;
		line-height:20px;
		font-weight:bold;
		font-family:Arial;
		position:relative;
		top:0px;
		left:0px;
		right:0px;
		padding:10px 10px 10px 10px;
		z-index: 0;
	}


	.nav{
		width:100%;
		height:40px;
		background:rgba(0, 0, 0, 0.5);
		color:#fff;
		font-size:15 pt;
		font-family:Arial;
		font-weight:bold;
		vertical-align: center;
	}

	.menu{
		width:100%;
		max-height:0px;
	/* overflow:hidden; 先把他尋覽列藏起來*/
		overflow:hidden;
		transition: max-height 2.0s;
		position:relative;
	    margin:0;
	 /*header 80px+1px boder 線條*/
	    top:11px;
	    z-index: 9999;

	}
		

	.ham{
		display: block;
		font-color:white;
		float:left;
		margin:3% 0 0 7%;
	}

	.ham img{
		max-width:7%;
	}

	.section_02{
		max-width:100%;
		padding-bottom: 0px;
	}

	.sec02_title{
		max-width:100%;
		margin:60px 0 70px 0px;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#000;
	}



	.sec02_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:100px;
		background-color: #000;
		margin:20px auto;
	}

	.work ul{
		width:100%;
		text-align: center;
		margin:0;
	}

	.work li{
		width:60%;
		display: inline-block;
		margin:0 20%;
		padding-bottom: 50px;
	}

	.work img{
		width:100%;
	}

	.work p{
		margin:0;
		padding-top:20px;
		padding-left: 0px;
		width: 100%;
		font-family: Arial;
		font-weight: bold;
		font-size:16px;
		line-height: 22px;
		cursor: pointer;
		text-align: left;
	}



	.section_03{
		max-width:100%;
		background:url(images/section03.jpg)no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*background-color: #ffe3b7;*/
	}

	.sec03_title{
		max-width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
		color:#fff;
	}

	.animal_01{
		max-width:100%;
		margin:0px 0 0px 0;
		text-align: center;
		overflow: auto;
	}

	.animal_01 li{
		display: block;
		margin:0px 25% 60px 25%;
		max-width:50%;
		text-align: center;
		overflow: auto;
	}

	.animal_01 p{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:10px;
		font-size:17pt;
	}

	.animal_01 p.qu{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:3px;
		margin-bottom: 20px;
		font-size:15pt;
		overflow:hidden;
	}

	.animal_02{
		max-width:100%;
		margin:0px 0 0px 0;
		text-align: center;
		overflow: auto;
		font-size:17pt;
	}

	.animal_02 li{
		display: block;
		margin:0px 25% 60px 25%;
		max-width:50%;
		text-align: center;
		overflow: auto;
		font-size:15pt;
	}

	.animal_02 p{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:10px;
		font-size:17pt;
	}

	.animal_02 p.qu{
		font-weight: bolder;
		font-family:Arial, black;
		margin-top:3px;
		margin-bottom: 0px;
		font-size:15pt;
		overflow:hidden;
	}


	.section_04{
		max-width:100%;
		overflow: auto;
	}
			
		

	.sec04_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.sec04_title:after{
		content:'';
		display:block;
		height:1px;
		max-width:140px;
		background-color: #000;
		margin:20px auto;
	}

	.news{
		width:100%;
		overflow: auto;
	}


	.news_content{
		width:80%;
		height:auto;
		margin-bottom:20px;
		overflow: auto;
	}

	.news_img{
		width:90%;
		display:block;
		margin:0;
		padding:0 5%;
		text-align: center;
	}

	.news_img img{
		width:100%;
	}

	.news_word{
		display:inline;
		width:100%;
		font-weight: 600;
		line-height:25px;
		font-family: Arial;
		float:left;
		margin-top:40px;
		margin-bottom: 50px;
		text-align: center;
	}

	.news_word p{
		width:90%;
		margin-top:20px;
		padding:0 5%;
		text-align: center;
	}

	.news_word a{
		color:#000;
	}


	.news_word a:hover{
		color:#e46404;
	}

	.news_title{
		width:80%;
		margin:0 auto;
		text-align: center;
	}

	.section_05{
		background:url(images/donate.jpg)no-repeat;
		background-position: 40% 40%;
	}


	.donate_word{
		width:90%;
		font-size:26px;
		margin-top:70px;
		margin-bottom:70px;
		padding:0 5%;
	}

	.sec06_title{
		width:100%;
		font-family: Arial;
		font-weight: bolder;
		font-size: 26pt;
		text-align: center;
	}

	.join_word{
		width:70%;
		margin:0 auto;
		padding-bottom: 60px;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		line-height: 25px;
		color:#525252;
	}

	.join img{
		width:70%;
	}

	.join_img_word{
		display:block;
		text-align: center;
		font-family: Arial;
		font-weight:bolder;
		font-size:18px;
		margin:20px 0;
		padding-bottom: 40px;
	}

	.join_01{
		width:100%;
		height:auto;
		display: block;
		text-align: center;
	}

	.join_02{
		width:100%;
		display: block;
		text-align: center;
	}

	.join_03{
		width:100%;
		display: block;
		text-align: center;
	}

	.footer_wrap{
		bottom:0;
	}

	.footer_mail{
		width:100%;
		color:#fff;
		text-align: center;
		font-size:16px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:5px;
		cursor: pointer;
	}

	.footer_phone{
		width:100%;
		color:#fff;
		text-align: center;
		font-size:16px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin-top:5px;
		cursor: pointer;
	}

	.footer_word{
		width:88%;
		color:#fff;
		text-align: center;
		font-size:14px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 6%;
		margin-top:30px;
		padding:0;
	}

	.footer_lastword{
		width:88%;
		color:#fff;
		text-align: center;
		font-size:5px;
		font-family:ff-tisa-web-pro,georgia,serif;
		font-weight: 400;
		margin:0 6%;
		margin-top:70px;
		padding:0;
		line-height:20px;
	}
}

	/*jQ點擊後動態在 body 加上 class */
	.menu-show .menu{
		 max-height: 500px;
	}